<header>
  <div class="contenedor">
    <div class="principal">
      <img class="logo" src="assets/imagenes/mejor-precio.png" alt="logo">
      <h1 class="titulo-principal">Precios Justos</h1>
    </div>
      <div class="redes">
        <a routerLink="home">Inicio</a>
        <div>
          <a routerLink="home"><img src="assets/imagenes/gorjeo.png" alt="twitter" style="width: 30px;"></a>
          <a routerLink="home"><img src="assets/imagenes/instagram.png" alt="twitter" style="width: 30px;"></a>
          <a routerLink="home"><img src="assets/imagenes/facebook.png" alt="twitter" style="width: 30px;"></a>
        </div>
      </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <div>
    <h5>Participes:</h5>
  </div>
  <div>
    Carlos Samuel Cardoso,
    Emilce Eliana Jurado,
    Simon Martin Saavedra
  </div>
</footer>