<div class="contenedor">
    <!-- <h1>Seleccionar una provincia</h1> -->
    <div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h1>Seleccionar una provincia</h1>
            <select name="" id="" [(ngModel)]="provinciaSeleccionada">
                <option value="">Seleccione una provincia</option>
                <option value="" *ngFor="let provincia of provincias" [ngValue]="provincia" >{{provincia.nombre}}</option>
            </select>
            <button class="bt btn-primary" routerLink="/producto/{{provinciaSeleccionada.url}}">Ir a productos de {{ provinciaSeleccionada.nombre }}</button>
        </div>
    </div>
</div>